/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
	background-color: transparent;
    border: medium none;
    cursor: pointer;
    font-family: Arial;
    margin: 0 2px;
    overflow: visible;
    padding: 0;
}
button.jqTransformButton:active {
  bottom: inherit;
}
*:first-child+html button.jqTransformButton[type] {
	width: 1;
} /* IE7 */
button.jqTransformButton span {
    border-radius: 10px;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.inlineContainer button.jqTransformButton span {
    border-radius: 0 6px 6px 0;
    display: block;
    width: 75%;
}

button.disabledBtn.jqTransformButton span{
	background-position: right -144px;
}

button.disabledBtn.jqTransformButton span span{
	background-position: left -144px;
}

.btn_l.disabledBtn.jqTransformButton span{
	background-position: right -176px;
}

.btn_l.disabledBtn.jqTransformButton span span{
	background-position: left -176px;
}

button.jqTransformButton span span {
	background-attachment: scroll;
    background-color: #c82128;
    background-position: left top;
    background-repeat: no-repeat;
    color: #ffffff;
    display: block;
    font: 16px/31px "NeoSansPro-Regular","Arial","Helvetica",sans-serif;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.inlineContainer button.jqTransformButton{display: none; width: 100%; margin: 0;}
.inlineContainer button.jqTransformButton span span {
    background-color: #fcad24;
    color: #ffffff;
    padding: 0 8px;
    border: 1px solid #b07800;
    border-left: 0;
    font: 14px/30px "NeoSansPro-Regular","Arial","Helvetica",sans-serif;
    height: 33px;
    font-size: 0 !important;
    width: 130px;
    display: block;
}
.inlineContainer button.jqTransformButton span span:before{color: #ffffff; content:"PRODUCT SEARCH"; font-size: 12px !important;}

.inlineContainer button.jqTransformButton:hover span span{background-color: #ec9d14;border: 1px solid #b07800;border-left: 0;}
.inlineContainer:hover button.jqTransformButton span span{background-color: #ec9d14;border: 1px solid #b07800;border-left: 0;}

button.btn_l.jqTransformButton span {
	background-position: right -31px;
	line-height: 47px;
}

button.btn_l.jqTransformButton span span {
	background-position: left -31px;
}

.button.disabledBtn{
	cursor: default;
}

/*hover*/
button.jqTransformButton_hover span span { background-position: left top; }
button.jqTransformButton_hover span { background-position: right top; }


/*clicked*/
/*
button.jqTransformButton_click span span { background-position: left -72px; }
button.jqTransformButton_click span { background-position: right -72px; }
button.btn_l.jqTransformButton_click span {
	background-position: right -104px;
	line-height: 40px;
}*/

button.btn_l.jqTransformButton_click span span {
/*	background-position: left -104px;
	padding: 0px 2px 0 8px;*/
}

/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	/*background: url("../images/input_text_right.png") no-repeat scroll right -96px transparent;*/
	height: 34px;
	padding: 0px;
	float: left;
	width: 100% !important;
}

.text_small {
	background: url("../images/input_text_small_right.png") no-repeat scroll right top transparent;
}

.text_small .jqTransformInputInner {
	background: url("../images/input_text_left.png") no-repeat scroll left -198px transparent;
	margin: 0 0 0 0;
}

.jqTransformInputWrapper.text_box_no_border {
	background-position: right 0;
	height: 32px;
}
.jqTransformInputWrapper.text_small.text_box_no_border {
	background-position: right -140px;
	height: 22px;
}
.jqTransformInputWrapper.text_box_bt_shadow {
	background-position: 100% -72px;
}

.text_box_bt_shadow .jqTransformInputInner {
	background-position: 0 -336px;
}

.text_box_no_border .jqTransformInputInner div {
	height: 32px;
}

.jqTransformInputInner {
	background: url("../images/input_text_left.png") no-repeat scroll left -96px transparent;
	padding: 0px;
	margin: 0px 16px 0 0;
}

.text_box_no_border .jqTransformInputInner {
	background-position: 0 0;
}
.text_small.text_box_no_border .jqTransformInputInner {
	background-position: 0 -314px;
}
.jqTransformInputInner div {
	height: 34px;
}
.inlineContainer .jqTransformInputInner div {
	margin: 0px;
}

/*.inlineContainer .button.jqTransformButton span span{padding: 0 4px; font-size: 12px;}
.qty_txt.text_small.text_box_bt_shadow {
    padding: 0 15px !important;
}*/
.div#trandiv{
	background: transparent !important;
}
.jqTransformInputInner div input {
	font: 14px/18px 'NeoSansPro-Regular', 'Arial', 'Helvetica', sans-serif;
	vertical-align: middle;
	color: #666666;
	border: none;
	padding: 8px 0px;
	margin: 0px;
	background: transparent;
	width: 100%;
}

.text_box_bt_shadow .jqTransformInputInner div input {
    background: #fff none repeat scroll 0 0 !important;
    box-sizing: border-box;
    height: 33px;
    padding: 5px 3px 5px 12px !important;
    vertical-align: top;
}

.text_small .jqTransformInputInner div input {
	padding: 1px 0;
}
.text_box_bt_shadow .jqTransformInputInner div input {
    background: #fff none repeat scroll 0 0 !important;
    box-sizing: border-box;
    height: 33px;
    padding: 5px 3px 5px 2px !important;
    vertical-align: top;
}
.text_small  .jqTransformInputInner div {
	margin: 0 0 0 5px;
}

.search .jqTransformInputInner {
	/*padding-right: 22px;*/
	position: relative;
}

.search_icone {
    background: #f8971d none repeat scroll 0 0;
    border-radius: 0 6px 6px 0;
    padding: 11px;
    position: absolute;
    right: -12px;
    top: 2px;
}
.search_icone::before {
    color: #fff;
    content: "CATALOG SEARCH";
    font-size: 16px;
}
a.search_icone:hover{text-decoration: none;}
/*hover*/
.text_box_bt_shadow.jqTransformInputWrapper_hover {
	background-position: right -95px !important;
}

.text_box_bt_shadow.jqTransformInputWrapper_hover div.jqTransformInputInner {
	background-position: left -359px !important;
}

.text_small.jqTransformInputWrapper_hover {
	background-position: right -24px;
}
.text_small.text_box_no_border.jqTransformInputWrapper_hover {
	background-position: right -140px;
}

.text_small.jqTransformInputWrapper_hover div.jqTransformInputInner {
	background-position: left -222px;
}
.text_small.text_box_no_border.jqTransformInputWrapper_hover div.jqTransformInputInner {
	background-position: left -314px;
}
.jqTransformInputWrapper_hover {
	background-position: right -130px;
}

.jqTransformInputWrapper_hover div.jqTransformInputInner {
	background-position: left -130px;
}

.jqTransformInputWrapper_hover.text_box_no_border {
	background-position: right -32px;
}

.jqTransformInputWrapper_hover.text_box_no_border div.jqTransformInputInner {
	background-position: left -32px;
}

/*focus*/
.text_box_bt_shadow.jqTransformInputWrapper_focus {
	background-position: right -118px !important;
}

.text_box_bt_shadow.jqTransformInputWrapper_focus div.jqTransformInputInner {
	background-position: left -382px !important;
}

.text_small.jqTransformInputWrapper_focus {
	background-position: right -48px;
}

.text_small.jqTransformInputWrapper_focus div.jqTransformInputInner {
	background-position: left -246px;
}

.jqTransformInputWrapper_focus {
	background-position: right -164px;
}

.jqTransformInputWrapper_focus div.jqTransformInputInner {
	background-position: left -164px;
}

.jqTransformInputWrapper_focus.text_box_no_border {
	background-position: right -64px;
}
.jqTransformInputWrapper_focus.text_small.text_box_no_border {
	background-position: right -140px;
}

.jqTransformInputWrapper_focus.text_box_no_border div.jqTransformInputInner {
	background-position: left -64px;
}
.jqTransformInputWrapper_focus.text_small.text_box_no_border div.jqTransformInputInner {
	background-position: left -314px;
}
/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {
	float: left;
	display: block;
	margin: 0 3px;
}

.jqTransformRadio {
	background: url("../images/radio.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 18px;
	width: 18px;
}

/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper {
	display: block;
	float: left;
	margin: 3px;
}

.checkbox_small a.jqTransformCheckbox {
	background: url("../images/checkbox.png") no-repeat scroll 0 -40px transparent;
	height: 15px;
	margin: 5px 0;
}

a.jqTransformCheckbox {
	background: transparent url(../images/checkbox.png) no-repeat 0 0px;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	display: block; /*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked {
	background-position: 0 -20px;
}

a.jqTransformRadio.jqTransformChecked {
	background-position: 0 -18px;
}

.checkbox_small a.jqTransformChecked {
	background-position: 0 -55px;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
	display: none;
}

/* -------------
 * Select Box
 * ------------- */
/* @group Base */
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font: 14px/15px 'NeoSansPro-Regular', 'Arial', 'Helvetica', sans-serif;
	zoom: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.multiSelectbox.chosen-container .chosen-results{
	padding: 0;
	overflow: hidden;
	margin-bottom: 0;
	width: 94%;
}

.multiSelectbox .chosen-drop{
	left: 0 !important;
}

.multiSelectbox .chosen-choices {
  display: none;
}

.multiSelectbox .chosen-drop.customCombobox {
 	position: relative;
	padding: 0;
	background: none transparent;
	width: 100%;
	min-height: 100%;
	border: medium none;
	color: #666666;
}

.multiSelectbox.chosen-container{
	border: 1px solid #dddddd;
	border-top: 2px solid #d3d3d3;
	 
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%);
	padding: 3%;
	width: 94% !important;
}

.blueBg .chosen-container.multiSelectbox{
	border-top: 1px solid #dddddd;
}

.header .chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #c82127;
	border-top: 0;
	background: #fff;
}


.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}

.chosen-container a {
	cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 0px;

	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 34px;
}

.chosen-container-single.text_box_no_border .chosen-single span {
	background-position: 0 0px;
}

.chosen-container-single.select_small.text_box_no_border .chosen-single span{
	/*background-image: url("../images/input_text_left.png");*/
	background-position: 0 -270px;
	line-height: 24px;
}

.chosen-container-single.select_small .chosen-single span{
	/*background-image: url("../images/input_text_left.png");
	background-position: 0 -198px;*/
	line-height: 24px;
}

.chosen-container-single .chosen-default {
	color: #999;
}

.chosen-container-single .chosen-single span {
	display: block;
	font: 15px/34px 'NeoSansPro-Medium', 'Arial', 'Helvetica', sans-serif !important;
	margin: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*background-image: url("../images/input_text_left.png");
	background-position: 0 -96px;*/
	padding: 0 15px 0 2px;
	color: #000;
}

.chosen-container-single.text_box_no_border .chosen-single span {
	font: 14px/32px 'NeoSansPro-Regular', 'Arial', 'Helvetica', sans-serif;
}

.chosen-container-single.select_small .chosen-single span {
	font: 13px/26px 'NeoSansPro-Regular', 'Arial', 'Helvetica', sans-serif;
}

.chosen-container-single.select_small.text_box_no_border .chosen-single span {
	font: 12px/22px 'NeoSansPro-Regular', 'Arial', 'Helvetica', sans-serif;
}

.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px;
}

.chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 1px;
	display: block;
	width: 24px;
	height: 100%;
}

.chosen-container-single.select_small .chosen-single div {
	width: 16px;
}

.chosen-container-single .chosen-single div b {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/shape_arrow.png') no-repeat;
}

.chosen-container-single.text_box_no_border .chosen-single div b {
	background-position: 0 9px;
}

.chosen-container-single.select_small .chosen-single div b {
	/*background: url('../images/select_small_right.png') no-repeat 0px 0px transparent;*/
}

.chosen-container-single.select_small.text_box_no_border .chosen-single div b {
	/*background: url('../images/select_small_right.png') no-repeat 0px -72px transparent;*/
}

.chosen-container-single .chosen-drop {
	margin-top: -1px;
	background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
	color: #666666;
	font: 14px/15px 'NeoSansPro-Regular', 'Arial', 'Helvetica', sans-serif;
	list-style: none outside none;
	margin: 0;
	padding: 8px 6px;
}
#shipto_chosen {
    box-shadow: none !important;
}

.chosen-container.select_small .chosen-results li {
	font: normal 12px/24px 'NeoSansPro-Regular', 'Arial', 'Helvetica', sans-serif;
	padding: 0 6px;
	margin: 0 !important;
}

.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}

.chosen-container .chosen-results li.highlighted, .multiSelectbox.chosen-container .chosen-results li.result-selected {
	background-color: #1071a3;
	color: #fff;
	overflow: hidden; 
}
.multiSelectbox.chosen-container .chosen-results li{
	margin: 1px 0;
	width: 96%;
}
.multiSelectbox.chosen-container .chosen-results li.result-selected{
	cursor: pointer; 
}

.chosen-container .chosen-results li.no-results {
	display: list-item;
	background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}

.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}

.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}

/* @end */

/* @group Active  */
.chosen-container-active .chosen-single { /*  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
	
}

.chosen-container-active.chosen-with-drop .chosen-single {
	/*background-image: url("../images/selected_bg.jpg");*/
	background-position: 0 0;
	background-repeat: repeat-x;
	border-image: none;
	border: 0px solid #b3b3b3;
	border-top: medium none;
	border-bottom: medium none;
	border-right: medium none;
}

.chosen-container-active.chosen-with-drop.select_small .chosen-single {
	background-image: url("../images/arrow_icon.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:right center;
	background-color: #b91218;
	border-image: none;
	border: 1px solid #b3b3b3;
	border-top: medium none;
	border-bottom: medium none;
	border-right: medium none;
	padding: 0;
}

.chosen-container-active.chosen-with-drop.select_small .chosen-single span,
.chosen-container-active.chosen-with-drop.text_box_no_border .chosen-single span{
	background-image: none !important;
} 

.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b { /*background-position: 0px -68px;*/
	/*background-image: url("../images/select_right.png");*/
	background-position: 0 -164px;
	background-repeat: no-repeat;
	
}

.chosen-container-active.chosen-with-drop.select_small .chosen-single div b {
	/*background-image: url("../images/select_small_right.png");*/
	background-position: 0 -48px;
	background-repeat: no-repeat;
	border-image: none;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
}

.chosen-container-active .chosen-choices {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
	color: #111 !important;
}

/* @end */

/* TextArea */
.customTextarea {
	width: 96%;
	min-height: 120px;
	padding: 15px;
	border: 1px solid #dddddd;
	border-top: 2px solid #d3d3d3;
	color: #666666;
	
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	
	background: #ededed;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%);
}
.customTextarea textarea {
	width: 100%;
	min-height: 120px;
	padding: 0;
	margin: 0;
	resize: none;
	background-color: transparent;
	border: medium none;
	overflow: auto;
}
/* End */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and (min-resolution: 144dpi) {
	.chosen-rtl .chosen-search input[type="text"],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-container-single .chosen-search input[type="text"],.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span
		{
		background-image: url('chosen-sprite@2x.png') !important;
		background-size: 52px 37px !important;
		background-repeat: no-repeat !important;
	}
}
/* @end */
